
body
{
    text-align: center;
}
.heading
{
    width: 100%;
    text-align: left;
}

.heading h3 
{
    display: inline;
}

.heading button
{
    float: right;
    border: 1px solid white;
}

.copy_right_footer
{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: white;
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
}

#start
{
    font-size: 22px;
}

h4
{
    
    background-color: white;
    line-height: 2;
    margin: 0px;
}
.modal-dialog
{
    width: 40%;
}

.instruction_image
{
    display: inline-block;
    width: 45%;
}